<!--  NAVBAR  -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-color">
  <a class="navbar-brand link" href="#">To-Do List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item active">
        <a class="nav-link link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      </ul>
    <form class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-5">
  <app-todos class="container"></app-todos>
</div>